* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  background-color: orangered;
  padding: 30px;
  margin: 5px;
  color: white;
  font-size: 40px;
}

.container1 {
  background-color: gray;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.container2 {
  background-color: gray;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container3 {
  background-color: gray;
  padding: 10px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
}
.container4 {
  background-color: gray;
  padding: 10px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.container5 {
  background-color: gray;
  padding: 10px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
